<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/js/wtk/css/wtk.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      *{
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- <wtk wtk-group="sluzby"></wtk> -->
    <!-- <wtk-content wtk-name="ola"></wtk-content> -->
    </div>
    <div style="display: flex; width:100%; flex-wrap: wrap;">
      <div style="padding: 50px 50px; width:50%; border: 1px solid grey;">
        <h2>Content</h2>
        <wtk-search wtk-names="" wtk-options="wtkCont" style=""></wtk-search>
        <wtk-content wtk-name="test02"></wtk-content>
      </div>  
      <div style="padding: 50px 50px; width:50%; border: 1px solid grey;">
        <h2>Content Meta</h2>
        <wtk-search wtk-names="" wtk-options="wtkCont" style=""></wtk-search>
        <wtk-content-meta wtk-name="test02">
          <h2 wtk-data="wtkMetaTitle"></h2>
        </wtk-content-meta>
      </div>
      <div style="padding: 50px 50px; width:50%; border: 1px solid grey;">
        <h2>Groups</h2>
        <wtk-search wtk-names="" wtk-options="wtkCont" style=""></wtk-search>
        <wtk-group wtk-name="test01"></wtk-group>
      </div>
      <div style="padding: 50px 50px; width:50%; border: 1px solid grey;">
        <h2>Groups Meta</h2>
        <wtk-search wtk-names="" wtk-options="wtkCont" style=""></wtk-search>
        <wtk-group-meta wtk-name="test01">
          <h2 wtk-data="wtkMetaTitle"></h2>
        </wtk-group-meta>
      </div>
    </div>
    <script src="js/wtk/webcomponents-sd-ce.js"></script>
    <script type="module" src="js/wtk/wtk-content-init.js"></script>
  </body>
</html>