:host{
  @import 'brand';
  display: block;
  white-space: nowrap;
  position: relative;
  margin-top: 12px;
  &:before{
    content: "New Content";
    position: absolute;
    bottom: 100%;
    left: 0;
    font-size: 8px;
    color: grey;
    display: block;
  }
  button{
    border:none;
    cursor: pointer;
    padding: 6px; 
    background-color: darken($colP, 10);
    &:hover{
      background-color: rgba(0,0,0,0.3);
    }
    &:first-of-type{
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &:last-of-type{
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}