.wtk-hidden {
  display: none; }

wtk-content-item {
  display: block;
  margin-top: 50px; }

.wtkCloseBtn {
  display: block;
  margin-left: auto; }

.wtkFullScreen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.5); }
  .wtkFullScreen > div {
    max-width: 70%;
    margin: auto; }

input, textarea {
  outline: none;
  font-family: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.wtk-display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 120%; }

.wtk-display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 120%; }

.wtk-display-3 {
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -.005em;
  line-height: 120%; }

.wtk-display-4 {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -.01em;
  line-height: 120%; }

.wtk-headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; }

.wtk-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .005em; }

.wtk-subhead {
  font-weight: 400;
  letter-spacing: .01em;
  font-size: 16px;
  line-height: 24px; }

.wtk-caption {
  font-size: 12px;
  letter-spacing: .02em;
  font-weight: 400;
  color: grey; }

.wtk-body-1 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: .01em; }

.wtk-body-2 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: .01em;
  line-height: 24px; }

p {
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.wtk-text-noWrap {
  white-space: nowrap; }

.wtk-whitespace-nowrap {
  white-space: nowrap; }

.wtk-text-left {
  text-align: left; }

.wtk-text-right {
  text-align: right; }

.wtk-text-center {
  text-align: center; }

.wtk-text-justify {
  text-align: justify; }

.wtk-section {
  padding: 128px 0; }

.wtk-container {
  margin: auto;
  border-left: 1px solid rgba(255, 0, 0, 0.2);
  border-right: 1px solid rgba(255, 0, 0, 0.2);
  max-width: 1000px; }
  @media screen and (max-width: 769px) {
    .wtk-container {
      max-width: 700px;
      padding: 0 10px; } }
  @media screen and (max-width: 480px) {
    .wtk-container {
      max-width: 460px; } }

.wtk-col-0 {
  width: 0px; }

.wtk-col-0l {
  margin-left: 0px; }

.wtk-col-0r {
  margin-right: 0px; }

.wtk-col-1 {
  width: 8.33%; }

.wtk-col-1l {
  margin-left: 8.33%; }

.wtk-col-1r {
  margin-right: 8.33%; }

.wtk-col-2 {
  width: 16.66%; }

.wtk-col-2l {
  margin-left: 16.66%; }

.wtk-col-2r {
  margin-right: 16.66%; }

.wtk-col-3 {
  width: 25%; }

.wtk-col-3l {
  margin-left: 25%; }

.wtk-col-3r {
  margin-right: 25%; }

.wtk-col-4 {
  width: 33.33%; }

.wtk-col-4l {
  margin-left: 33.33%; }

.wtk-col-4r {
  margin-right: 33.33%; }

.wtk-col-5 {
  width: 41.66%; }

.wtk-col-5l {
  margin-left: 41.66%; }

.wtk-col-5r {
  margin-right: 41.66%; }

.wtk-col-6 {
  width: 50%; }

.wtk-col-6l {
  margin-left: 50%; }

.wtk-col-6r {
  margin-right: 50%; }

.wtk-col-7 {
  width: 58.33%; }

.wtk-col-7l {
  margin-left: 58.33%; }

.wtk-col-7r {
  margin-right: 58.33%; }

.wtk-col-8 {
  width: 66.66%; }

.wtk-col-8l {
  margin-left: 66.66%; }

.wtk-col-8r {
  margin-right: 66.66%; }

.wtk-col-9 {
  width: 75%; }

.wtk-col-9l {
  margin-left: 75%; }

.wtk-col-9r {
  margin-right: 75%; }

.wtk-col-10 {
  width: 83.33%; }

.wtk-col-10l {
  margin-left: 83.33%; }

.wtk-col-10r {
  margin-right: 83.33%; }

.wtk-col-11 {
  width: 91.66%; }

.wtk-col-11l {
  margin-left: 91.66%; }

.wtk-col-11r {
  margin-right: 91.66%; }

.wtk-col-12 {
  width: 100%; }

.wtk-col-12l {
  margin-left: 100%; }

.wtk-col-12r {
  margin-right: 100%; }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-0 {
    width: 0px; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-0l {
    margin-left: 0px; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-0r {
    margin-right: 0px; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-1 {
    width: 8.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-1l {
    margin-left: 8.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-1r {
    margin-right: 8.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-2 {
    width: 16.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-2l {
    margin-left: 16.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-2r {
    margin-right: 16.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-3 {
    width: 25%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-3l {
    margin-left: 25%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-3r {
    margin-right: 25%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-4 {
    width: 33.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-4l {
    margin-left: 33.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-4r {
    margin-right: 33.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-5 {
    width: 41.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-5l {
    margin-left: 41.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-5r {
    margin-right: 41.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-6 {
    width: 50%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-6l {
    margin-left: 50%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-6r {
    margin-right: 50%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-7 {
    width: 58.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-7l {
    margin-left: 58.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-7r {
    margin-right: 58.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-8 {
    width: 66.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-8l {
    margin-left: 66.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-8r {
    margin-right: 66.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-9 {
    width: 75%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-9l {
    margin-left: 75%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-9r {
    margin-right: 75%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-10 {
    width: 83.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-10l {
    margin-left: 83.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-10r {
    margin-right: 83.33%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-11 {
    width: 91.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-11l {
    margin-left: 91.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-11r {
    margin-right: 91.66%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-12 {
    width: 100%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-12l {
    margin-left: 100%; } }

@media screen and (min-width: 0px) and (max-width: 480px) {
  .wtk-col-sm-12r {
    margin-right: 100%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-0 {
    width: 0px; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-0l {
    margin-left: 0px; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-0r {
    margin-right: 0px; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-1 {
    width: 8.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-1l {
    margin-left: 8.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-1r {
    margin-right: 8.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-2 {
    width: 16.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-2l {
    margin-left: 16.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-2r {
    margin-right: 16.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-3 {
    width: 25%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-3l {
    margin-left: 25%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-3r {
    margin-right: 25%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-4 {
    width: 33.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-4l {
    margin-left: 33.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-4r {
    margin-right: 33.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-5 {
    width: 41.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-5l {
    margin-left: 41.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-5r {
    margin-right: 41.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-6 {
    width: 50%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-6l {
    margin-left: 50%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-6r {
    margin-right: 50%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-7 {
    width: 58.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-7l {
    margin-left: 58.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-7r {
    margin-right: 58.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-8 {
    width: 66.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-8l {
    margin-left: 66.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-8r {
    margin-right: 66.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-9 {
    width: 75%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-9l {
    margin-left: 75%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-9r {
    margin-right: 75%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-10 {
    width: 83.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-10l {
    margin-left: 83.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-10r {
    margin-right: 83.33%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-11 {
    width: 91.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-11l {
    margin-left: 91.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-11r {
    margin-right: 91.66%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-12 {
    width: 100%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-12l {
    margin-left: 100%; } }

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .wtk-col-md-12r {
    margin-right: 100%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-0 {
    width: 0px; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-0l {
    margin-left: 0px; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-0r {
    margin-right: 0px; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-1 {
    width: 8.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-1l {
    margin-left: 8.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-1r {
    margin-right: 8.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-2 {
    width: 16.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-2l {
    margin-left: 16.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-2r {
    margin-right: 16.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-3 {
    width: 25%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-3l {
    margin-left: 25%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-3r {
    margin-right: 25%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-4 {
    width: 33.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-4l {
    margin-left: 33.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-4r {
    margin-right: 33.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-5 {
    width: 41.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-5l {
    margin-left: 41.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-5r {
    margin-right: 41.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-6 {
    width: 50%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-6l {
    margin-left: 50%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-6r {
    margin-right: 50%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-7 {
    width: 58.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-7l {
    margin-left: 58.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-7r {
    margin-right: 58.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-8 {
    width: 66.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-8l {
    margin-left: 66.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-8r {
    margin-right: 66.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-9 {
    width: 75%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-9l {
    margin-left: 75%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-9r {
    margin-right: 75%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-10 {
    width: 83.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-10l {
    margin-left: 83.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-10r {
    margin-right: 83.33%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-11 {
    width: 91.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-11l {
    margin-left: 91.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-11r {
    margin-right: 91.66%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-12 {
    width: 100%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-12l {
    margin-left: 100%; } }

@media screen and (min-width: 1024px) and (max-width: 9999px) {
  .wtk-col-bg-12r {
    margin-right: 100%; } }

.inputWrapper label {
  display: block;
  font-size: 10px;
  color: grey; }

.inputWrapper input:not([type="submit"]):not([type="button"]),
.inputWrapper textarea {
  width: 100%; }

.inputWrapper .errMsg > div {
  opacity: 0;
  color: red; }

.inputWrapper input:not([type="submit"]):not([type="button"]),
.inputWrapper textarea {
  border: none;
  border-bottom: 1px solid #1565c0;
  margin-top: 8px;
  padding-left: 5px;
  box-sizing: border-box;
  font-size: 16px; }

button,
input[type="submit"],
input[type="button"],
.wtk-button {
  position: relative;
  display: inline-block;
  z-index: 1;
  border: none;
  border-radius: 2px;
  padding: 0 8px;
  min-height: 36px;
  cursor: pointer;
  background-color: transparent;
  line-height: 36px;
  white-space: nowrap;
  letter-spacing: .01em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  overflow: hidden;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
  button[disabled],
  input[type="submit"][disabled],
  input[type="button"][disabled],
  .wtk-button[disabled] {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.38);
    cursor: default; }
  button:not([disabled]):hover,
  input[type="submit"]:not([disabled]):hover,
  input[type="button"]:not([disabled]):hover,
  .wtk-button:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2); }
  button.raised-button,
  input[type="submit"].raised-button,
  input[type="button"].raised-button,
  .wtk-button.raised-button {
    background-color: #1565c0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.wtk-fileInput input[type="file"] {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer; }

.wtk-clickable {
  cursor: pointer; }

.wtk-errMsg_Wrapper .wtk-errMsg {
  opacity: 0;
  color: #ffffff; }

.wtk-errMsg_Wrapper .wtk-errMsg_pattern {
  position: absolute;
  top: 0;
  left: 0; }

.wtk-colP {
  color: #1565c0 !important; }

.wtk-colS {
  color: #EF6C00 !important; }

.wtk-colL {
  color: #ffffff !important; }

.wtk-colD {
  color: #212121 !important; }

.wtk-bg-colP {
  background-color: #1565c0 !important; }

.wtk-bg-colS {
  background-color: #EF6C00 !important; }

.wtk-bg-colL {
  background-color: #ffffff !important; }

.wtk-bg-colD {
  background-color: #212121 !important; }

.wtk-whiteframe-1dp {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }

.wtk-whiteframe-2dp {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12); }

.wtk-whiteframe-3dp {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12); }

.wtk-whiteframe-4dp {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }

.wtk-whiteframe-5dp {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12); }

.wtk-corner {
  border-radius: 2px; }

.wtk-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.wtk-layout-column {
  flex-direction: column; }

.wtk-wrap {
  flex-wrap: wrap; }

.wtk-no-wrap {
  flex-wrap: nowrap; }

.wtk-align-start-start {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.wtk-align-start-end {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; }

.wtk-align-start-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.wtk-align-start-baseline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: baseline; }

.wtk-align-start-stretch {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: stretch; }

.wtk-align-end-start {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }

.wtk-align-end-end {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.wtk-align-end-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.wtk-align-end-baseline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: baseline; }

.wtk-align-end-stretch {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: stretch; }

.wtk-align-center-start {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.wtk-align-center-end {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.wtk-align-center-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center; }

.wtk-align-center-baseline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: baseline; }

.wtk-align-center-stretch {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: stretch; }

.wtk-align-between-start {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.wtk-align-between-end {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.wtk-align-between-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.wtk-align-between-baseline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.wtk-align-between-stretch {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: stretch; }

.wtk-align-around-start {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.wtk-align-around-end {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }

.wtk-align-around-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.wtk-align-around-baseline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: baseline; }

.wtk-align-around-stretch {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: stretch; }

.resImg-invisible {
  opacity: 0; }

.mad-res-img {
  display: block;
  overflow: hidden; }
  .mad-res-img img {
    display: block;
    -webkit-transition: opacity 2.25s ease-in-out;
    -moz-transition: opacity 2.25s ease-in-out;
    -ms-transition: opacity 2.25s ease-in-out;
    -o-transition: opacity 2.25s ease-in-out;
    transition: opacity 2.25s ease-in-out; }

.wtk-relative {
  position: relative; }

.wtk-absolute {
  position: absolute; }

.wtk-full-shrink {
  flex-shrink: 0; }

.wtk-full-flex {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden; }

.wtk-full-width {
  width: 100%; }

.wtk-full-height {
  height: 100% !important; }

.wtk-view-width {
  width: 100vw; }

.wtk-view-height {
  height: 100vh; }

.wtk-padding-auto {
  padding: auto auto !important; }

.wtk-padding-x-auto {
  padding-right: auto !important;
  padding-left: auto !important; }

.wtk-padding-y-auto {
  padding-top: auto !important;
  padding-bottom: auto !important; }

.wtk-padding-right-auto {
  padding-right: auto !important; }

.wtk-padding-left-auto {
  padding-left: auto !important; }

.wtk-padding-top-auto {
  padding-top: auto !important; }

.wtk-padding-bottom-auto {
  padding-bottom: auto !important; }

@media screen and (min-width: 960px) {
  .wtk-padding-auto {
    padding: calc(auto * 2) calc(auto * 2) !important; }
  .wtk-padding-x-auto {
    padding-right: calc(auto * 2) !important;
    padding-left: calc(auto * 2) !important; }
  .wtk-padding-y-auto {
    padding-top: calc(auto * 2) !important;
    padding-bottom: calc(auto * 2) !important; }
  .wtk-padding-right-auto {
    padding-right: calc(auto * 2) !important; }
  .wtk-padding-left-auto {
    padding-left: calc(auto * 2) !important; }
  .wtk-padding-top-auto {
    padding-top: calc(auto * 2) !important; }
  .wtk-padding-bottom-auto {
    padding-bottom: calc(auto * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-padding-auto {
    padding: calc(auto * 0.5) calc(auto * 0.5) !important; }
  .wtk-padding-x-auto {
    padding-right: calc(auto * 0.5) !important;
    padding-left: calc(auto * 0.5) !important; }
  .wtk-padding-y-auto {
    padding-top: calc(auto * 0.5) !important;
    padding-bottom: calc(auto * 0.5) !important; }
  .wtk-padding-right-auto {
    padding-right: calc(auto * 0.5) !important; }
  .wtk-padding-left-auto {
    padding-left: calc(auto * 0.5) !important; }
  .wtk-padding-top-auto {
    padding-top: calc(auto * 0.5) !important; }
  .wtk-padding-bottom-auto {
    padding-bottom: calc(auto * 0.5) !important; } }

.wtk-padding-tiny {
  padding: 6px 6px !important; }

.wtk-padding-x-tiny {
  padding-right: 6px !important;
  padding-left: 6px !important; }

.wtk-padding-y-tiny {
  padding-top: 6px !important;
  padding-bottom: 6px !important; }

.wtk-padding-right-tiny {
  padding-right: 6px !important; }

.wtk-padding-left-tiny {
  padding-left: 6px !important; }

.wtk-padding-top-tiny {
  padding-top: 6px !important; }

.wtk-padding-bottom-tiny {
  padding-bottom: 6px !important; }

@media screen and (min-width: 960px) {
  .wtk-padding-tiny {
    padding: calc(6px * 2) calc(6px * 2) !important; }
  .wtk-padding-x-tiny {
    padding-right: calc(6px * 2) !important;
    padding-left: calc(6px * 2) !important; }
  .wtk-padding-y-tiny {
    padding-top: calc(6px * 2) !important;
    padding-bottom: calc(6px * 2) !important; }
  .wtk-padding-right-tiny {
    padding-right: calc(6px * 2) !important; }
  .wtk-padding-left-tiny {
    padding-left: calc(6px * 2) !important; }
  .wtk-padding-top-tiny {
    padding-top: calc(6px * 2) !important; }
  .wtk-padding-bottom-tiny {
    padding-bottom: calc(6px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-padding-tiny {
    padding: calc(6px * 0.5) calc(6px * 0.5) !important; }
  .wtk-padding-x-tiny {
    padding-right: calc(6px * 0.5) !important;
    padding-left: calc(6px * 0.5) !important; }
  .wtk-padding-y-tiny {
    padding-top: calc(6px * 0.5) !important;
    padding-bottom: calc(6px * 0.5) !important; }
  .wtk-padding-right-tiny {
    padding-right: calc(6px * 0.5) !important; }
  .wtk-padding-left-tiny {
    padding-left: calc(6px * 0.5) !important; }
  .wtk-padding-top-tiny {
    padding-top: calc(6px * 0.5) !important; }
  .wtk-padding-bottom-tiny {
    padding-bottom: calc(6px * 0.5) !important; } }

.wtk-padding {
  padding: 8px 8px !important; }

.wtk-padding-x {
  padding-right: 8px !important;
  padding-left: 8px !important; }

.wtk-padding-y {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.wtk-padding-right {
  padding-right: 8px !important; }

.wtk-padding-left {
  padding-left: 8px !important; }

.wtk-padding-top {
  padding-top: 8px !important; }

.wtk-padding-bottom {
  padding-bottom: 8px !important; }

@media screen and (min-width: 960px) {
  .wtk-padding {
    padding: calc(8px * 2) calc(8px * 2) !important; }
  .wtk-padding-x {
    padding-right: calc(8px * 2) !important;
    padding-left: calc(8px * 2) !important; }
  .wtk-padding-y {
    padding-top: calc(8px * 2) !important;
    padding-bottom: calc(8px * 2) !important; }
  .wtk-padding-right {
    padding-right: calc(8px * 2) !important; }
  .wtk-padding-left {
    padding-left: calc(8px * 2) !important; }
  .wtk-padding-top {
    padding-top: calc(8px * 2) !important; }
  .wtk-padding-bottom {
    padding-bottom: calc(8px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-padding {
    padding: calc(8px * 0.5) calc(8px * 0.5) !important; }
  .wtk-padding-x {
    padding-right: calc(8px * 0.5) !important;
    padding-left: calc(8px * 0.5) !important; }
  .wtk-padding-y {
    padding-top: calc(8px * 0.5) !important;
    padding-bottom: calc(8px * 0.5) !important; }
  .wtk-padding-right {
    padding-right: calc(8px * 0.5) !important; }
  .wtk-padding-left {
    padding-left: calc(8px * 0.5) !important; }
  .wtk-padding-top {
    padding-top: calc(8px * 0.5) !important; }
  .wtk-padding-bottom {
    padding-bottom: calc(8px * 0.5) !important; } }

.wtk-padding-2x {
  padding: 16px 16px !important; }

.wtk-padding-x-2x {
  padding-right: 16px !important;
  padding-left: 16px !important; }

.wtk-padding-y-2x {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.wtk-padding-right-2x {
  padding-right: 16px !important; }

.wtk-padding-left-2x {
  padding-left: 16px !important; }

.wtk-padding-top-2x {
  padding-top: 16px !important; }

.wtk-padding-bottom-2x {
  padding-bottom: 16px !important; }

@media screen and (min-width: 960px) {
  .wtk-padding-2x {
    padding: calc(16px * 2) calc(16px * 2) !important; }
  .wtk-padding-x-2x {
    padding-right: calc(16px * 2) !important;
    padding-left: calc(16px * 2) !important; }
  .wtk-padding-y-2x {
    padding-top: calc(16px * 2) !important;
    padding-bottom: calc(16px * 2) !important; }
  .wtk-padding-right-2x {
    padding-right: calc(16px * 2) !important; }
  .wtk-padding-left-2x {
    padding-left: calc(16px * 2) !important; }
  .wtk-padding-top-2x {
    padding-top: calc(16px * 2) !important; }
  .wtk-padding-bottom-2x {
    padding-bottom: calc(16px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-padding-2x {
    padding: calc(16px * 0.5) calc(16px * 0.5) !important; }
  .wtk-padding-x-2x {
    padding-right: calc(16px * 0.5) !important;
    padding-left: calc(16px * 0.5) !important; }
  .wtk-padding-y-2x {
    padding-top: calc(16px * 0.5) !important;
    padding-bottom: calc(16px * 0.5) !important; }
  .wtk-padding-right-2x {
    padding-right: calc(16px * 0.5) !important; }
  .wtk-padding-left-2x {
    padding-left: calc(16px * 0.5) !important; }
  .wtk-padding-top-2x {
    padding-top: calc(16px * 0.5) !important; }
  .wtk-padding-bottom-2x {
    padding-bottom: calc(16px * 0.5) !important; } }

.wtk-padding-3x {
  padding: 32px 32px !important; }

.wtk-padding-x-3x {
  padding-right: 32px !important;
  padding-left: 32px !important; }

.wtk-padding-y-3x {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.wtk-padding-right-3x {
  padding-right: 32px !important; }

.wtk-padding-left-3x {
  padding-left: 32px !important; }

.wtk-padding-top-3x {
  padding-top: 32px !important; }

.wtk-padding-bottom-3x {
  padding-bottom: 32px !important; }

@media screen and (min-width: 960px) {
  .wtk-padding-3x {
    padding: calc(32px * 2) calc(32px * 2) !important; }
  .wtk-padding-x-3x {
    padding-right: calc(32px * 2) !important;
    padding-left: calc(32px * 2) !important; }
  .wtk-padding-y-3x {
    padding-top: calc(32px * 2) !important;
    padding-bottom: calc(32px * 2) !important; }
  .wtk-padding-right-3x {
    padding-right: calc(32px * 2) !important; }
  .wtk-padding-left-3x {
    padding-left: calc(32px * 2) !important; }
  .wtk-padding-top-3x {
    padding-top: calc(32px * 2) !important; }
  .wtk-padding-bottom-3x {
    padding-bottom: calc(32px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-padding-3x {
    padding: calc(32px * 0.5) calc(32px * 0.5) !important; }
  .wtk-padding-x-3x {
    padding-right: calc(32px * 0.5) !important;
    padding-left: calc(32px * 0.5) !important; }
  .wtk-padding-y-3x {
    padding-top: calc(32px * 0.5) !important;
    padding-bottom: calc(32px * 0.5) !important; }
  .wtk-padding-right-3x {
    padding-right: calc(32px * 0.5) !important; }
  .wtk-padding-left-3x {
    padding-left: calc(32px * 0.5) !important; }
  .wtk-padding-top-3x {
    padding-top: calc(32px * 0.5) !important; }
  .wtk-padding-bottom-3x {
    padding-bottom: calc(32px * 0.5) !important; } }

.wtk-padding-4x {
  padding: 64px 64px !important; }

.wtk-padding-x-4x {
  padding-right: 64px !important;
  padding-left: 64px !important; }

.wtk-padding-y-4x {
  padding-top: 64px !important;
  padding-bottom: 64px !important; }

.wtk-padding-right-4x {
  padding-right: 64px !important; }

.wtk-padding-left-4x {
  padding-left: 64px !important; }

.wtk-padding-top-4x {
  padding-top: 64px !important; }

.wtk-padding-bottom-4x {
  padding-bottom: 64px !important; }

@media screen and (min-width: 960px) {
  .wtk-padding-4x {
    padding: calc(64px * 2) calc(64px * 2) !important; }
  .wtk-padding-x-4x {
    padding-right: calc(64px * 2) !important;
    padding-left: calc(64px * 2) !important; }
  .wtk-padding-y-4x {
    padding-top: calc(64px * 2) !important;
    padding-bottom: calc(64px * 2) !important; }
  .wtk-padding-right-4x {
    padding-right: calc(64px * 2) !important; }
  .wtk-padding-left-4x {
    padding-left: calc(64px * 2) !important; }
  .wtk-padding-top-4x {
    padding-top: calc(64px * 2) !important; }
  .wtk-padding-bottom-4x {
    padding-bottom: calc(64px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-padding-4x {
    padding: calc(64px * 0.5) calc(64px * 0.5) !important; }
  .wtk-padding-x-4x {
    padding-right: calc(64px * 0.5) !important;
    padding-left: calc(64px * 0.5) !important; }
  .wtk-padding-y-4x {
    padding-top: calc(64px * 0.5) !important;
    padding-bottom: calc(64px * 0.5) !important; }
  .wtk-padding-right-4x {
    padding-right: calc(64px * 0.5) !important; }
  .wtk-padding-left-4x {
    padding-left: calc(64px * 0.5) !important; }
  .wtk-padding-top-4x {
    padding-top: calc(64px * 0.5) !important; }
  .wtk-padding-bottom-4x {
    padding-bottom: calc(64px * 0.5) !important; } }

.wtk-padding-5x {
  padding: 128px 128px !important; }

.wtk-padding-x-5x {
  padding-right: 128px !important;
  padding-left: 128px !important; }

.wtk-padding-y-5x {
  padding-top: 128px !important;
  padding-bottom: 128px !important; }

.wtk-padding-right-5x {
  padding-right: 128px !important; }

.wtk-padding-left-5x {
  padding-left: 128px !important; }

.wtk-padding-top-5x {
  padding-top: 128px !important; }

.wtk-padding-bottom-5x {
  padding-bottom: 128px !important; }

@media screen and (min-width: 960px) {
  .wtk-padding-5x {
    padding: calc(128px * 2) calc(128px * 2) !important; }
  .wtk-padding-x-5x {
    padding-right: calc(128px * 2) !important;
    padding-left: calc(128px * 2) !important; }
  .wtk-padding-y-5x {
    padding-top: calc(128px * 2) !important;
    padding-bottom: calc(128px * 2) !important; }
  .wtk-padding-right-5x {
    padding-right: calc(128px * 2) !important; }
  .wtk-padding-left-5x {
    padding-left: calc(128px * 2) !important; }
  .wtk-padding-top-5x {
    padding-top: calc(128px * 2) !important; }
  .wtk-padding-bottom-5x {
    padding-bottom: calc(128px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-padding-5x {
    padding: calc(128px * 0.5) calc(128px * 0.5) !important; }
  .wtk-padding-x-5x {
    padding-right: calc(128px * 0.5) !important;
    padding-left: calc(128px * 0.5) !important; }
  .wtk-padding-y-5x {
    padding-top: calc(128px * 0.5) !important;
    padding-bottom: calc(128px * 0.5) !important; }
  .wtk-padding-right-5x {
    padding-right: calc(128px * 0.5) !important; }
  .wtk-padding-left-5x {
    padding-left: calc(128px * 0.5) !important; }
  .wtk-padding-top-5x {
    padding-top: calc(128px * 0.5) !important; }
  .wtk-padding-bottom-5x {
    padding-bottom: calc(128px * 0.5) !important; } }

.wtk-padding-6x {
  padding: 256px 256px !important; }

.wtk-padding-x-6x {
  padding-right: 256px !important;
  padding-left: 256px !important; }

.wtk-padding-y-6x {
  padding-top: 256px !important;
  padding-bottom: 256px !important; }

.wtk-padding-right-6x {
  padding-right: 256px !important; }

.wtk-padding-left-6x {
  padding-left: 256px !important; }

.wtk-padding-top-6x {
  padding-top: 256px !important; }

.wtk-padding-bottom-6x {
  padding-bottom: 256px !important; }

@media screen and (min-width: 960px) {
  .wtk-padding-6x {
    padding: calc(256px * 2) calc(256px * 2) !important; }
  .wtk-padding-x-6x {
    padding-right: calc(256px * 2) !important;
    padding-left: calc(256px * 2) !important; }
  .wtk-padding-y-6x {
    padding-top: calc(256px * 2) !important;
    padding-bottom: calc(256px * 2) !important; }
  .wtk-padding-right-6x {
    padding-right: calc(256px * 2) !important; }
  .wtk-padding-left-6x {
    padding-left: calc(256px * 2) !important; }
  .wtk-padding-top-6x {
    padding-top: calc(256px * 2) !important; }
  .wtk-padding-bottom-6x {
    padding-bottom: calc(256px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-padding-6x {
    padding: calc(256px * 0.5) calc(256px * 0.5) !important; }
  .wtk-padding-x-6x {
    padding-right: calc(256px * 0.5) !important;
    padding-left: calc(256px * 0.5) !important; }
  .wtk-padding-y-6x {
    padding-top: calc(256px * 0.5) !important;
    padding-bottom: calc(256px * 0.5) !important; }
  .wtk-padding-right-6x {
    padding-right: calc(256px * 0.5) !important; }
  .wtk-padding-left-6x {
    padding-left: calc(256px * 0.5) !important; }
  .wtk-padding-top-6x {
    padding-top: calc(256px * 0.5) !important; }
  .wtk-padding-bottom-6x {
    padding-bottom: calc(256px * 0.5) !important; } }

.wtk-padding-7x {
  padding: 512px 512px !important; }

.wtk-padding-x-7x {
  padding-right: 512px !important;
  padding-left: 512px !important; }

.wtk-padding-y-7x {
  padding-top: 512px !important;
  padding-bottom: 512px !important; }

.wtk-padding-right-7x {
  padding-right: 512px !important; }

.wtk-padding-left-7x {
  padding-left: 512px !important; }

.wtk-padding-top-7x {
  padding-top: 512px !important; }

.wtk-padding-bottom-7x {
  padding-bottom: 512px !important; }

@media screen and (min-width: 960px) {
  .wtk-padding-7x {
    padding: calc(512px * 2) calc(512px * 2) !important; }
  .wtk-padding-x-7x {
    padding-right: calc(512px * 2) !important;
    padding-left: calc(512px * 2) !important; }
  .wtk-padding-y-7x {
    padding-top: calc(512px * 2) !important;
    padding-bottom: calc(512px * 2) !important; }
  .wtk-padding-right-7x {
    padding-right: calc(512px * 2) !important; }
  .wtk-padding-left-7x {
    padding-left: calc(512px * 2) !important; }
  .wtk-padding-top-7x {
    padding-top: calc(512px * 2) !important; }
  .wtk-padding-bottom-7x {
    padding-bottom: calc(512px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-padding-7x {
    padding: calc(512px * 0.5) calc(512px * 0.5) !important; }
  .wtk-padding-x-7x {
    padding-right: calc(512px * 0.5) !important;
    padding-left: calc(512px * 0.5) !important; }
  .wtk-padding-y-7x {
    padding-top: calc(512px * 0.5) !important;
    padding-bottom: calc(512px * 0.5) !important; }
  .wtk-padding-right-7x {
    padding-right: calc(512px * 0.5) !important; }
  .wtk-padding-left-7x {
    padding-left: calc(512px * 0.5) !important; }
  .wtk-padding-top-7x {
    padding-top: calc(512px * 0.5) !important; }
  .wtk-padding-bottom-7x {
    padding-bottom: calc(512px * 0.5) !important; } }

.wtk-margin-auto {
  margin: auto auto !important; }

.wtk-margin-x-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.wtk-margin-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important; }

.wtk-margin-right-auto {
  margin-right: auto !important; }

.wtk-margin-left-auto {
  margin-left: auto !important; }

.wtk-margin-top-auto {
  margin-top: auto !important; }

.wtk-margin-bottom-auto {
  margin-bottom: auto !important; }

@media screen and (min-width: 960px) {
  .wtk-margin-auto {
    margin: calc(auto * 2) calc(auto * 2) !important; }
  .wtk-margin-x-auto {
    margin-right: calc(auto * 2) !important;
    margin-left: calc(auto * 2) !important; }
  .wtk-margin-y-auto {
    margin-top: calc(auto * 2) !important;
    margin-bottom: calc(auto * 2) !important; }
  .wtk-margin-right-auto {
    margin-right: calc(auto * 2) !important; }
  .wtk-margin-left-auto {
    margin-left: calc(auto * 2) !important; }
  .wtk-margin-top-auto {
    margin-top: calc(auto * 2) !important; }
  .wtk-margin-bottom-auto {
    margin-bottom: calc(auto * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-margin-auto {
    margin: calc(auto * 0.5) calc(auto * 0.5) !important; }
  .wtk-margin-x-auto {
    margin-right: calc(auto * 0.5) !important;
    margin-left: calc(auto * 0.5) !important; }
  .wtk-margin-y-auto {
    margin-top: calc(auto * 0.5) !important;
    margin-bottom: calc(auto * 0.5) !important; }
  .wtk-margin-right-auto {
    margin-right: calc(auto * 0.5) !important; }
  .wtk-margin-left-auto {
    margin-left: calc(auto * 0.5) !important; }
  .wtk-margin-top-auto {
    margin-top: calc(auto * 0.5) !important; }
  .wtk-margin-bottom-auto {
    margin-bottom: calc(auto * 0.5) !important; } }

.wtk-margin-tiny {
  margin: 6px 6px !important; }

.wtk-margin-x-tiny {
  margin-right: 6px !important;
  margin-left: 6px !important; }

.wtk-margin-y-tiny {
  margin-top: 6px !important;
  margin-bottom: 6px !important; }

.wtk-margin-right-tiny {
  margin-right: 6px !important; }

.wtk-margin-left-tiny {
  margin-left: 6px !important; }

.wtk-margin-top-tiny {
  margin-top: 6px !important; }

.wtk-margin-bottom-tiny {
  margin-bottom: 6px !important; }

@media screen and (min-width: 960px) {
  .wtk-margin-tiny {
    margin: calc(6px * 2) calc(6px * 2) !important; }
  .wtk-margin-x-tiny {
    margin-right: calc(6px * 2) !important;
    margin-left: calc(6px * 2) !important; }
  .wtk-margin-y-tiny {
    margin-top: calc(6px * 2) !important;
    margin-bottom: calc(6px * 2) !important; }
  .wtk-margin-right-tiny {
    margin-right: calc(6px * 2) !important; }
  .wtk-margin-left-tiny {
    margin-left: calc(6px * 2) !important; }
  .wtk-margin-top-tiny {
    margin-top: calc(6px * 2) !important; }
  .wtk-margin-bottom-tiny {
    margin-bottom: calc(6px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-margin-tiny {
    margin: calc(6px * 0.5) calc(6px * 0.5) !important; }
  .wtk-margin-x-tiny {
    margin-right: calc(6px * 0.5) !important;
    margin-left: calc(6px * 0.5) !important; }
  .wtk-margin-y-tiny {
    margin-top: calc(6px * 0.5) !important;
    margin-bottom: calc(6px * 0.5) !important; }
  .wtk-margin-right-tiny {
    margin-right: calc(6px * 0.5) !important; }
  .wtk-margin-left-tiny {
    margin-left: calc(6px * 0.5) !important; }
  .wtk-margin-top-tiny {
    margin-top: calc(6px * 0.5) !important; }
  .wtk-margin-bottom-tiny {
    margin-bottom: calc(6px * 0.5) !important; } }

.wtk-margin {
  margin: 8px 8px !important; }

.wtk-margin-x {
  margin-right: 8px !important;
  margin-left: 8px !important; }

.wtk-margin-y {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.wtk-margin-right {
  margin-right: 8px !important; }

.wtk-margin-left {
  margin-left: 8px !important; }

.wtk-margin-top {
  margin-top: 8px !important; }

.wtk-margin-bottom {
  margin-bottom: 8px !important; }

@media screen and (min-width: 960px) {
  .wtk-margin {
    margin: calc(8px * 2) calc(8px * 2) !important; }
  .wtk-margin-x {
    margin-right: calc(8px * 2) !important;
    margin-left: calc(8px * 2) !important; }
  .wtk-margin-y {
    margin-top: calc(8px * 2) !important;
    margin-bottom: calc(8px * 2) !important; }
  .wtk-margin-right {
    margin-right: calc(8px * 2) !important; }
  .wtk-margin-left {
    margin-left: calc(8px * 2) !important; }
  .wtk-margin-top {
    margin-top: calc(8px * 2) !important; }
  .wtk-margin-bottom {
    margin-bottom: calc(8px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-margin {
    margin: calc(8px * 0.5) calc(8px * 0.5) !important; }
  .wtk-margin-x {
    margin-right: calc(8px * 0.5) !important;
    margin-left: calc(8px * 0.5) !important; }
  .wtk-margin-y {
    margin-top: calc(8px * 0.5) !important;
    margin-bottom: calc(8px * 0.5) !important; }
  .wtk-margin-right {
    margin-right: calc(8px * 0.5) !important; }
  .wtk-margin-left {
    margin-left: calc(8px * 0.5) !important; }
  .wtk-margin-top {
    margin-top: calc(8px * 0.5) !important; }
  .wtk-margin-bottom {
    margin-bottom: calc(8px * 0.5) !important; } }

.wtk-margin-2x {
  margin: 16px 16px !important; }

.wtk-margin-x-2x {
  margin-right: 16px !important;
  margin-left: 16px !important; }

.wtk-margin-y-2x {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.wtk-margin-right-2x {
  margin-right: 16px !important; }

.wtk-margin-left-2x {
  margin-left: 16px !important; }

.wtk-margin-top-2x {
  margin-top: 16px !important; }

.wtk-margin-bottom-2x {
  margin-bottom: 16px !important; }

@media screen and (min-width: 960px) {
  .wtk-margin-2x {
    margin: calc(16px * 2) calc(16px * 2) !important; }
  .wtk-margin-x-2x {
    margin-right: calc(16px * 2) !important;
    margin-left: calc(16px * 2) !important; }
  .wtk-margin-y-2x {
    margin-top: calc(16px * 2) !important;
    margin-bottom: calc(16px * 2) !important; }
  .wtk-margin-right-2x {
    margin-right: calc(16px * 2) !important; }
  .wtk-margin-left-2x {
    margin-left: calc(16px * 2) !important; }
  .wtk-margin-top-2x {
    margin-top: calc(16px * 2) !important; }
  .wtk-margin-bottom-2x {
    margin-bottom: calc(16px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-margin-2x {
    margin: calc(16px * 0.5) calc(16px * 0.5) !important; }
  .wtk-margin-x-2x {
    margin-right: calc(16px * 0.5) !important;
    margin-left: calc(16px * 0.5) !important; }
  .wtk-margin-y-2x {
    margin-top: calc(16px * 0.5) !important;
    margin-bottom: calc(16px * 0.5) !important; }
  .wtk-margin-right-2x {
    margin-right: calc(16px * 0.5) !important; }
  .wtk-margin-left-2x {
    margin-left: calc(16px * 0.5) !important; }
  .wtk-margin-top-2x {
    margin-top: calc(16px * 0.5) !important; }
  .wtk-margin-bottom-2x {
    margin-bottom: calc(16px * 0.5) !important; } }

.wtk-margin-3x {
  margin: 32px 32px !important; }

.wtk-margin-x-3x {
  margin-right: 32px !important;
  margin-left: 32px !important; }

.wtk-margin-y-3x {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

.wtk-margin-right-3x {
  margin-right: 32px !important; }

.wtk-margin-left-3x {
  margin-left: 32px !important; }

.wtk-margin-top-3x {
  margin-top: 32px !important; }

.wtk-margin-bottom-3x {
  margin-bottom: 32px !important; }

@media screen and (min-width: 960px) {
  .wtk-margin-3x {
    margin: calc(32px * 2) calc(32px * 2) !important; }
  .wtk-margin-x-3x {
    margin-right: calc(32px * 2) !important;
    margin-left: calc(32px * 2) !important; }
  .wtk-margin-y-3x {
    margin-top: calc(32px * 2) !important;
    margin-bottom: calc(32px * 2) !important; }
  .wtk-margin-right-3x {
    margin-right: calc(32px * 2) !important; }
  .wtk-margin-left-3x {
    margin-left: calc(32px * 2) !important; }
  .wtk-margin-top-3x {
    margin-top: calc(32px * 2) !important; }
  .wtk-margin-bottom-3x {
    margin-bottom: calc(32px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-margin-3x {
    margin: calc(32px * 0.5) calc(32px * 0.5) !important; }
  .wtk-margin-x-3x {
    margin-right: calc(32px * 0.5) !important;
    margin-left: calc(32px * 0.5) !important; }
  .wtk-margin-y-3x {
    margin-top: calc(32px * 0.5) !important;
    margin-bottom: calc(32px * 0.5) !important; }
  .wtk-margin-right-3x {
    margin-right: calc(32px * 0.5) !important; }
  .wtk-margin-left-3x {
    margin-left: calc(32px * 0.5) !important; }
  .wtk-margin-top-3x {
    margin-top: calc(32px * 0.5) !important; }
  .wtk-margin-bottom-3x {
    margin-bottom: calc(32px * 0.5) !important; } }

.wtk-margin-4x {
  margin: 64px 64px !important; }

.wtk-margin-x-4x {
  margin-right: 64px !important;
  margin-left: 64px !important; }

.wtk-margin-y-4x {
  margin-top: 64px !important;
  margin-bottom: 64px !important; }

.wtk-margin-right-4x {
  margin-right: 64px !important; }

.wtk-margin-left-4x {
  margin-left: 64px !important; }

.wtk-margin-top-4x {
  margin-top: 64px !important; }

.wtk-margin-bottom-4x {
  margin-bottom: 64px !important; }

@media screen and (min-width: 960px) {
  .wtk-margin-4x {
    margin: calc(64px * 2) calc(64px * 2) !important; }
  .wtk-margin-x-4x {
    margin-right: calc(64px * 2) !important;
    margin-left: calc(64px * 2) !important; }
  .wtk-margin-y-4x {
    margin-top: calc(64px * 2) !important;
    margin-bottom: calc(64px * 2) !important; }
  .wtk-margin-right-4x {
    margin-right: calc(64px * 2) !important; }
  .wtk-margin-left-4x {
    margin-left: calc(64px * 2) !important; }
  .wtk-margin-top-4x {
    margin-top: calc(64px * 2) !important; }
  .wtk-margin-bottom-4x {
    margin-bottom: calc(64px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-margin-4x {
    margin: calc(64px * 0.5) calc(64px * 0.5) !important; }
  .wtk-margin-x-4x {
    margin-right: calc(64px * 0.5) !important;
    margin-left: calc(64px * 0.5) !important; }
  .wtk-margin-y-4x {
    margin-top: calc(64px * 0.5) !important;
    margin-bottom: calc(64px * 0.5) !important; }
  .wtk-margin-right-4x {
    margin-right: calc(64px * 0.5) !important; }
  .wtk-margin-left-4x {
    margin-left: calc(64px * 0.5) !important; }
  .wtk-margin-top-4x {
    margin-top: calc(64px * 0.5) !important; }
  .wtk-margin-bottom-4x {
    margin-bottom: calc(64px * 0.5) !important; } }

.wtk-margin-5x {
  margin: 128px 128px !important; }

.wtk-margin-x-5x {
  margin-right: 128px !important;
  margin-left: 128px !important; }

.wtk-margin-y-5x {
  margin-top: 128px !important;
  margin-bottom: 128px !important; }

.wtk-margin-right-5x {
  margin-right: 128px !important; }

.wtk-margin-left-5x {
  margin-left: 128px !important; }

.wtk-margin-top-5x {
  margin-top: 128px !important; }

.wtk-margin-bottom-5x {
  margin-bottom: 128px !important; }

@media screen and (min-width: 960px) {
  .wtk-margin-5x {
    margin: calc(128px * 2) calc(128px * 2) !important; }
  .wtk-margin-x-5x {
    margin-right: calc(128px * 2) !important;
    margin-left: calc(128px * 2) !important; }
  .wtk-margin-y-5x {
    margin-top: calc(128px * 2) !important;
    margin-bottom: calc(128px * 2) !important; }
  .wtk-margin-right-5x {
    margin-right: calc(128px * 2) !important; }
  .wtk-margin-left-5x {
    margin-left: calc(128px * 2) !important; }
  .wtk-margin-top-5x {
    margin-top: calc(128px * 2) !important; }
  .wtk-margin-bottom-5x {
    margin-bottom: calc(128px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-margin-5x {
    margin: calc(128px * 0.5) calc(128px * 0.5) !important; }
  .wtk-margin-x-5x {
    margin-right: calc(128px * 0.5) !important;
    margin-left: calc(128px * 0.5) !important; }
  .wtk-margin-y-5x {
    margin-top: calc(128px * 0.5) !important;
    margin-bottom: calc(128px * 0.5) !important; }
  .wtk-margin-right-5x {
    margin-right: calc(128px * 0.5) !important; }
  .wtk-margin-left-5x {
    margin-left: calc(128px * 0.5) !important; }
  .wtk-margin-top-5x {
    margin-top: calc(128px * 0.5) !important; }
  .wtk-margin-bottom-5x {
    margin-bottom: calc(128px * 0.5) !important; } }

.wtk-margin-6x {
  margin: 256px 256px !important; }

.wtk-margin-x-6x {
  margin-right: 256px !important;
  margin-left: 256px !important; }

.wtk-margin-y-6x {
  margin-top: 256px !important;
  margin-bottom: 256px !important; }

.wtk-margin-right-6x {
  margin-right: 256px !important; }

.wtk-margin-left-6x {
  margin-left: 256px !important; }

.wtk-margin-top-6x {
  margin-top: 256px !important; }

.wtk-margin-bottom-6x {
  margin-bottom: 256px !important; }

@media screen and (min-width: 960px) {
  .wtk-margin-6x {
    margin: calc(256px * 2) calc(256px * 2) !important; }
  .wtk-margin-x-6x {
    margin-right: calc(256px * 2) !important;
    margin-left: calc(256px * 2) !important; }
  .wtk-margin-y-6x {
    margin-top: calc(256px * 2) !important;
    margin-bottom: calc(256px * 2) !important; }
  .wtk-margin-right-6x {
    margin-right: calc(256px * 2) !important; }
  .wtk-margin-left-6x {
    margin-left: calc(256px * 2) !important; }
  .wtk-margin-top-6x {
    margin-top: calc(256px * 2) !important; }
  .wtk-margin-bottom-6x {
    margin-bottom: calc(256px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-margin-6x {
    margin: calc(256px * 0.5) calc(256px * 0.5) !important; }
  .wtk-margin-x-6x {
    margin-right: calc(256px * 0.5) !important;
    margin-left: calc(256px * 0.5) !important; }
  .wtk-margin-y-6x {
    margin-top: calc(256px * 0.5) !important;
    margin-bottom: calc(256px * 0.5) !important; }
  .wtk-margin-right-6x {
    margin-right: calc(256px * 0.5) !important; }
  .wtk-margin-left-6x {
    margin-left: calc(256px * 0.5) !important; }
  .wtk-margin-top-6x {
    margin-top: calc(256px * 0.5) !important; }
  .wtk-margin-bottom-6x {
    margin-bottom: calc(256px * 0.5) !important; } }

.wtk-margin-7x {
  margin: 512px 512px !important; }

.wtk-margin-x-7x {
  margin-right: 512px !important;
  margin-left: 512px !important; }

.wtk-margin-y-7x {
  margin-top: 512px !important;
  margin-bottom: 512px !important; }

.wtk-margin-right-7x {
  margin-right: 512px !important; }

.wtk-margin-left-7x {
  margin-left: 512px !important; }

.wtk-margin-top-7x {
  margin-top: 512px !important; }

.wtk-margin-bottom-7x {
  margin-bottom: 512px !important; }

@media screen and (min-width: 960px) {
  .wtk-margin-7x {
    margin: calc(512px * 2) calc(512px * 2) !important; }
  .wtk-margin-x-7x {
    margin-right: calc(512px * 2) !important;
    margin-left: calc(512px * 2) !important; }
  .wtk-margin-y-7x {
    margin-top: calc(512px * 2) !important;
    margin-bottom: calc(512px * 2) !important; }
  .wtk-margin-right-7x {
    margin-right: calc(512px * 2) !important; }
  .wtk-margin-left-7x {
    margin-left: calc(512px * 2) !important; }
  .wtk-margin-top-7x {
    margin-top: calc(512px * 2) !important; }
  .wtk-margin-bottom-7x {
    margin-bottom: calc(512px * 2) !important; } }

@media screen and (max-width: 480px) {
  .wtk-margin-7x {
    margin: calc(512px * 0.5) calc(512px * 0.5) !important; }
  .wtk-margin-x-7x {
    margin-right: calc(512px * 0.5) !important;
    margin-left: calc(512px * 0.5) !important; }
  .wtk-margin-y-7x {
    margin-top: calc(512px * 0.5) !important;
    margin-bottom: calc(512px * 0.5) !important; }
  .wtk-margin-right-7x {
    margin-right: calc(512px * 0.5) !important; }
  .wtk-margin-left-7x {
    margin-left: calc(512px * 0.5) !important; }
  .wtk-margin-top-7x {
    margin-top: calc(512px * 0.5) !important; }
  .wtk-margin-bottom-7x {
    margin-bottom: calc(512px * 0.5) !important; } }

wtk-content-imageitem,
wtk-content-textitem,
wtk-imgfile,
wtk-tinymce {
  display: block; }

wtk-content,
wtk-group,
wtk-content-meta,
wtk-group-meta {
  display: block;
  position: relative; }

.wtk-hidden {
  display: none; }

wtk-content-item {
  display: block;
  margin-top: 50px; }

.wtkCloseBtn {
  display: block;
  margin-left: auto; }

.wtkFullScreen {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.5); }
  .wtkFullScreen > div {
    max-width: 70%;
    margin: auto; }

wtk-search form {
  display: inline-block;
  background-color: inherit;
  position: relative; }
  wtk-search form > input[type="search"] {
    border: none;
    background-color: inherit;
    width: 100%;
    padding: 6px 12px; }
  wtk-search form li {
    list-style: none;
    padding: 8px 8px;
    position: relative; }
    wtk-search form li:hover {
      background-color: lightgrey; }
    wtk-search form li:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 1px;
      width: calc(100%);
      background-color: #0d0d0d; }
  wtk-search form .wtkAsyncSearchResults {
    background-color: inherit; }
  wtk-search form .wtkSearchTemplate {
    overflow: auto;
    max-height: 70vh;
    background-color: inherit;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    opacity: 0;
    pointer-events: none; }
