<div id="wtk-admin" class="wtk-layout-column">

<div id="wtk-admin-body" class="wtk-full-flex wtk-container  wtk-bg-colL wtk-whiteframe-1dp">
  <div class=" wtk-padding-2x">
    
    <div class="wtk-align-between-center wtk-margin-bottom">
      <h1 class="wtk-headline">Nastavení účtu</h1>
      <button id="wtk-admin-logout" class="wtk-bg-colS wtk-colL">LOG OUT</button>
    </div>
    <div class="underline wtk-bg-colD"></div>
    
    <!-- Profile -->
    <div class="wtk-margin-y-2x">
      <h2 class="wtk-title wtk-margin-bottom">User Info</h2>
      <div class="wtk-align-between-start">

        <form action="" id="userInfoForm">
          <div class="inputWrapper">
            <label for="">E-mail</label>
            <input type="mail" name="wtkLoginName" value="jarkovsky.d@poskytuj.cz" required="">
            <div class="errMsg">
              <div class="errMsg pattern">Musí obsahovat pouze malá/velká písmena bez diakritiky a čísla!</div>
              <div class="errMsg required">Toto pole musí být vyplněno!</div>
            </div>
          </div>
          <input type="submit" name="" value="ULOŽIT">
        </form>
        <button type="button" id="changePswd">ZMĚNIT HESLO</button>
      </div>
    </div>
    <div class="underline wtk-bg-colD"></div>
    
    <!-- ResetPSWD -->
    <div id="userPswdFormWrapper" class="">
      <form action="" id="userPswdForm" class="wtk-whiteframe-2dp wtk-bg-colL wtk-padding-2x">
        <h2 class="wtk-title wtk-margin-bottom ">Změna hesla</h2>
        <div class="inputWrapper">
          <label for="">Staré Heslo</label>
          <input type="password" name="wtkLoginPswdOld" value="Dada_144_1993" required="">
          <div class="errMsg">
            <div class="errMsg pattern">Musí obsahovat pouze malá/velká písmena bez diakritiky a čísla!</div>
            <div class="errMsg required">Toto pole musí být vyplněno!</div>
          </div>
        </div>
        <div class="inputWrapper">
          <label for="">Nové Heslo</label>
          <input type="password" name="wtkLoginPswdNew" value="Dada_144_1993" required="">
          <div class="errMsg">
            <div class="errMsg pattern">Musí obsahovat pouze malá/velká písmena bez diakritiky a čísla!</div>
            <div class="errMsg required">Toto pole musí být vyplněno!</div>
          </div>
        </div>
        <div class="inputWrapper">
          <label for="">Nové Heslo znovu</label>
          <input type="password" name="wtkLoginPswdNewAgain" value="Dada_144_1993" required="">
          <div class="errMsg">
            <div class="errMsg pattern">Musí obsahovat pouze malá/velká písmena bez diakritiky a čísla!</div>
            <div class="errMsg required">Toto pole musí být vyplněno!</div>
          </div>
        </div>
        <div class="wtk-align-end-end">
          <button type="button" id="userPswdCloseBtn" class="wtk-margin-right-2x">ZAVŘÍT</button>
          <input type="submit" name="" class="wtk-bg-colP wtk-colL" value="ULOŽIT">
        </div>
      </form>
    </div>
    <!-- SecQ -->

    <div class="wtk-margin-y-2x">
      <form action="" id="secQForm">
        <h2 class="wtk-title wtk-margin-bottom">Bezpečnostní otázky</h2>
        <div class="wtk-col-5">
          <div class="inputWrapper">
            <label for="">1. Otázka</label>
            <select name="wtkSecQ1" required="">
              <option vallue="null">-----</option>
  
            </select>
  
            <div class="errMsg">
              <div class="errMsg pattern">Musí obsahovat pouze malá/velká písmena bez diakritiky a čísla!</div>
              <div class="errMsg required">Toto pole musí být vyplněno!</div>
            </div>
          </div>
          <div class="inputWrapper">
            <label for="">1. Odpověď</label>
            <input type="text" name="wtkSecA1" required="">
  
            <div class="errMsg">
              <div class="errMsg pattern">Musí obsahovat pouze malá/velká písmena bez diakritiky a čísla!</div>
              <div class="errMsg required">Toto pole musí být vyplněno!</div>
            </div>
          </div>
          <div class="inputWrapper">
            <label for="">2. Otázka</label>
            <select name="wtkSecQ2" required="">
              <option value="null">-----</option>
            </select>
  
            <div class="errMsg">
              <div class="errMsg pattern">Musí obsahovat pouze malá/velká písmena bez diakritiky a čísla!</div>
              <div class="errMsg required">Toto pole musí být vyplněno!</div>
            </div>
          </div>
          <div class="inputWrapper">
            <label for="">2. Odpověď</label>
            <input type="text" name="wtkSecA2" required="">
  
            <div class="errMsg">
              <div class="errMsg pattern">Musí obsahovat pouze malá/velká písmena bez diakritiky a čísla!</div>
              <div class="errMsg required">Toto pole musí být vyplněno!</div>
            </div>
          </div>
        </div>
        <div class="wtk-align-between-start">
          <!-- <div class="inputWrapper">
              <label for="">2. Otázka</label>
              <select 
                  name="wtkSecQ2" 
                  required="">
                  <option value="null">-----</option>
              </select>
  
              <div class="errMsg">
                <div class="errMsg pattern">Musí obsahovat pouze malá/velká písmena bez diakritiky a čísla!</div>
                <div class="errMsg required">Toto pole musí být vyplněno!</div>
              </div>
            </div>
            <div class="inputWrapper">
              <label for="">2. Odpověď</label>
              <input
                  type="text"
                  name="wtkSecA2" 
                  required="">
  
              <div class="errMsg">
                <div class="errMsg pattern">Musí obsahovat pouze malá/velká písmena bez diakritiky a čísla!</div>
                <div class="errMsg required">Toto pole musí být vyplněno!</div>
              </div>
            </div> -->
        </div>
        <input type="submit" name="" value="ULOŽIT">
      </form>
    </div>
  
  </div>
</div>
<div id="wtk-admin-label" class="wtk-full-shrink wtk-align-center-center">
  <span class="wtk-colL wtk-body-2">WTK</span>
</div>
</div>