<form class="mad-full-width">
  <input type="search" name="wtkSearchQuery" placeholder="HLEDEJ" class="mad-full-width">
  <!-- <input type="submit" value="SEARCH"> -->
  <div class="wtkAsyncSearchResults">
    <ul class="wtkSearchTemplate">
      <li>
        <a 
            href="" 
            wtk-href="/[(wtkGroupName)]/[(link)]?wtkContentName=[(wtkMetaName)]&wtkGroupName=[(wtkGroupName)]" wtk-data="wtkMetaTitle"></a>
        <p wtk-data="wtkMetaDescription"></p>
        <p wtk-data="wtkMetaCont"></p>
      </li>
    </ul>
  </div>
</form>