<form id="wtk__textItemWrapper" class="wtk-whiteframe-1dp">
  <div class="wtk-layout wtk-align-between-center">
    <h3 class="wtk-subhead">New text item</h3>    
    <div>
      <button type="button" id="wtk__textItemCtrl__fullscreen">
        <img src="" alt="">
        full-screen
      </button>
      <button type="button" id="wtk__textItemCtrl__close">
        <img src="" alt="">
        x
      </button>
    </div>
  </div>
  <textarea name="wtk__textItem" id="wtk__textItem" cols="30" rows="10"></textarea>
  <wtk-text-item-controls>
    <button type="submit" id="wtk__textItemCtrl__save">
      <img src="" alt="">
      save
    </button>
  </wtk-text-item-controls>
</form>
<!-- // <script type="text/javascript">tinymce.init({ selector:'textarea' });</script> -->